@font-face {
  font-family: "iconfont"; /* Project id 2071438 */
  src: url('../fonts/font_2071438_zsh4psutig.woff2') format('woff2'),
       url('../fonts/font_2071438_zsh4psutig.woff') format('woff'),
       url('../fonts/font_2071438_zsh4psutig.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-fill:before {
  content: "\e65c";
}

.icon-dianzan3:before {
  content: "\e60c";
}

.icon-Line:before {
  content: "\e951";
}

.icon-huifu1:before {
  content: "\e7ac";
}

.icon-jubao:before {
  content: "\e648";
}

.icon-dianzan2:before {
  content: "\e603";
}

.icon-iconweixiao:before {
  content: "\e624";
}

.icon-gouwu:before {
  content: "\e659";
}

.icon-sousuo:before {
  content: "\e782";
}

.icon-caidanlan:before {
  content: "\e618";
}

.icon-dianzan1:before {
  content: "\e60e";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-ico_rightarrow:before {
  content: "\e66f";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-aixin2:before {
  content: "\e602";
}

.icon-icon_dianzan-xian:before {
  content: "\e64a";
}

.icon-icon_dianzan-mian:before {
  content: "\e64c";
}

.icon-aixin:before {
  content: "\e663";
}

.icon-aixin1:before {
  content: "\e658";
}

.icon-zanpress:before {
  content: "\e600";
}

.icon-4CEBA48D845888E06C868951A5E1A875:before {
  content: "\e619";
}

.icon-huifu:before {
  content: "\e626";
}

.icon-Frame901:before {
  content: "\e675";
}

.icon-qipao:before {
  content: "\e620";
}

